@charset "utf-8";

@font-face {
    font-family: 'Ogg';
    src: url('fonts/Ogg-Italic.woff2') format('woff2'),
         url('fonts/Ogg-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Medium.woff2') format('woff2'),
         url('fonts/Switzer-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Medium-Italic.woff2') format('woff2'),
         url('fonts/Switzer-Medium-Italic.woff') format('woff');
    font-weight: medium;
    font-style: italic;
}