@charset "utf-8";

:root {
	--text: #111;
    --link: #aaa;
    --bg: #fff;
    --bg-hover: #fff;
}

body {
    font-family: 'Switzer', Helvetica, Arial, sans-serif;
    font-size: 0.75vw;
    
    color: var(--text);
    background-color: var(--bg);
    
    transition: all 300ms ease-in-out;
}

.hovered {
    background-color: var(--bg-hover);
}

a {
    transition: color 150ms ease;
}

a:hover {
    color: var(--link);
}


main {
    margin-top: 6em;
    padding-left: 24em;
    padding-right: 6em;
    padding-bottom: 6em;
}

h2 {
    font-weight: 500;
    font-size: 5.5em;
    line-height: 1;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

#name {
    font-family: 'Ogg';
    font-style: italic;
    font-size: 1.05em;
}

p {
    font-size: 3em;
    margin-top: 0.5em;
}



#avatar {
    position: fixed;
    width: 12em;
    height: 12em;
    top: 6em;
    left: 6em;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

nav {
    position: fixed;
    bottom: 6em;
    left: 6em;
}

nav ul {
    font-size: 3em;
    line-height: 1;
    font-weight: 500;
}

nav ul li {
    margin-top: 0.2em;
}

nav a {
    text-decoration: none;
}