@charset "utf-8";

:root {
	--text: #111;
    /* --link: #fff; */
    --link: #aaa;
}

body {
    font-family: 'Switzer', Helvetica, Arial, sans-serif;
    font-size: 0.75vw;
    color: var(--text);
    background-color: #fff;
    transition: all 300ms ease-in-out;

}

.hovered {
    /* background-color: #bbb; */
}

main {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-left: 4.3em;
    padding-right: 1.2em;
    width: 100%;

    /* letter-spacing: -0.01em; */
    font-weight: medium;
    font-size: 5.5em;
    line-height: 1;
}

#avatar, #avatar video {
    position: fixed;
    border-radius: 100%;
    width: 11em;
    height: 11em;
    top: 6.5em;
    left: 6em;
}

nav {
    position: fixed;
    bottom: 6em;
    left: 6em;
}

nav ul {
    font-size: 3.25em;
    line-height: 1.2;
    font-weight: 500;
}

nav a {
    text-decoration: none;
}

main p + p {
    margin-top: 1.2em;
}

#name {
    font-family: 'Ogg';
    font-style: italic;
    font-size: 1.05em;
}

a {
    transition: color 150ms ease;
}

a:hover {
    color: var(--link);
}